// CARATTERE


$main-font: 'Roboto', sans-serif;

$secondary-font: 'Rossela Demo', arial;

$main-text-color: #000000;

// azzurro
$secondary-text-color: #6AC5F1;

// arancione
$tertiary-color: #ef6f31;

// verde
$fourth-color: #20AD96;

