// CARATTERE

$main-font: 'Roboto', sans-serif;

$secondary-font: 'Rossela Demo', arial;

$main-text-color: #000000;

// azzurro
$secondary-text-color: #6ac5f1;

// arancione
$tertiary-color: #ef6f31;
$tertiary-text-color: white;

// arancione chiaro
$fourth-color: #ffb606;

// verde
$fifth-color: #20ad96;
$sixth-color: #3f3a64;
